*{
    box-sizing: border-box;
}
nav{
    /* display: flex;  
    justify-content: flex-end;   */
    padding:15px 5px;    
}
nav a,.a-style{
    text-decoration: none;
    margin-right: 25px;   
    color: crimson;
    font-weight: 600;     
} 
.content{
    width: 100%;    
    min-height: 70vh; 
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(28,204,30,1) 100%); */

    background: #c31432;   
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
.header-content{
    /* background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(28,204,30,1) 100%); */


    background: #c31432;   
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content-alt{
    background-color: #fff;
    width: 100%;
    min-height: 80vh; 
}

.content p{
    color: #fff;
}

.section-header{
    text-align: center;
    padding:10px;
    margin:10px;
    color:#fff;    
}

.section-header-alt{
    text-align: center;
    padding:10px;
    margin:10px;
    color:brown;
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top:10px;    
    z-index: 100;
    text-align: center;
    box-shadow: 1px 5px 8px 5px grey;
    background-color: #fff;
}

.footer-brand-txt{
   color: crimson;
   font-weight: 500;
   text-decoration: underline;
}

.footer-brand-txt:hover{
    cursor: pointer;
}



.scroll{
 color:green;
 transform: translateX(-30px);
 animation: scroller linear infinite;
}

@keyframes scroller{   
    0% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(30px);
    }
}